@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

  @font-face {
    font-family: 'Deadly Advance';
    src: url('../fontes/Deadly Advance.ttf') format('opentype');
  }

:root {
    --cor1:#080F9E;
    --cor2:#4750FF;
    --cor3:#EDE8D3;
    --cor4:#A39D85;
    --cor5:black;

    --fonte-principal:'Roboto', sans-serif;
    --fonte-destaque:'Deadly Advance', sans-serif;
    --fonte-a:Arial, Verdana, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to bottom, #989dfd, #EDE8D3);
    font-family: var(--fonte-a);
}
header {
    background-image: linear-gradient(to bottom, #080F9E, #4750FF);
    margin: 0px 5px 0px 5px;
    box-shadow: -1px 1px 2px black;

}
header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    padding: 32px;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    text-shadow:-3px 1px 5px rgba(0, 0, 0, 0.514);
}
nav{
    background-image: linear-gradient(to bottom, #4750FF, #989dfd);
    box-shadow: -1px 1px 2px black;
    padding: 15px;
    margin: 0px 5px 0px 5px;
}
nav > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    transition-duration: 1s;
    text-shadow:-1px 1px 2px #08109e7c;
}
nav > a:hover {
    background-color: rgb(255, 255, 255);
    color: #080F9E;
    border-radius: 20px;
}
main {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    
}
article > h1 {
    font-family: var(--fonte-principal);
    font-size: 1.5em;
    font-weight: bold;
    padding: 6px;
    margin: 6px 0px 6px 0px;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.071);
}
article > h2 {
    font-family: var(--fonte-principal);
    font-size: em1.3;
    font-weight: bold;
    padding: 6px;
    margin: 6px 0px 6px 0px;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.126);
}
article > p {
    font-family: var(--fonte-a);
    text-align: justify;
    text-indent: 30px;
    line-height: 28px;
    padding: 0px 10px 0px 10px;
}
 article a {
    font-size: 1em;
    font-weight: bold;
    color: #989dfd;
    text-decoration: none
}
article abbr:hover {
    color: #989dfd;
    transition-duration: 0.3s;
}
aside{
    background-color: #4750FF;
    border-radius: 5px;
    margin: 18px;
    padding: 13px;
}
aside > ul {
    list-style-type: '\2B50\00A0';
    list-style-position: inside;
}
aside a {
    color: white;
    font-size: 0.8em;
}
aside a:hover {
    padding: 10px;
    transition-duration: 0.4s;
}
aside > h3 {
    background-color: #4750FF;
    color: white;
    margin: -2px;
    padding: 15px;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
div.video {
    background-color: #4750FF;
    margin: 0px 7px 30px 7px;
    padding: 15px;
    padding-bottom: 59%;
    position: relative; 
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main img{
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

